:root {
    --clr-light: rgb(255, 255, 255);
    --clr-light-primary: rgba(255, 255, 255, 0.75);
    --clr-light-secondary: rgba(255, 255, 255, 0.9);

    --clr-dark: rgb(0, 0, 0);
    --clr-dark-primary: rgba(0, 0, 0, 0.75);
    --clr-dark-secondary: rgba(0, 0, 0, 0.9);

    --clr-box-shadow: rgba(0, 0, 0, 0.2);

    --background-primary: rgb(182, 182, 182);
    --clr-background1: #00aaff;
    --clr-background2: #00ff6c;

    --clr-clear: rgba(255, 60, 0, 0.75);
    --clr-clear-hover: rgba(255, 60, 0, 0.9);
    --clr-equal: rgba(97, 12, 114, 0.75);
    --clr-equal-hover: rgba(97, 12, 114, 0.9);
    --clr-white: #fff;
    --clr-black: #000;
}
.dark-mode {
    --clr-light: rgb(0, 0, 0);
    --clr-light-primary: rgba(0, 0, 0, 0.75);
    --clr-light-secondary: rgba(0, 0, 0, 0.9);

    --clr-dark: rgb(255, 255, 255);
    --clr-dark-primary: rgba(255, 255, 255, 0.75);
    --clr-dark-secondary: rgba(255, 255, 255, 0.9);

    --clr-box-shadow: rgba(255, 255, 255, 0.2);

    --background-primary: rgb(27, 27, 27);
    --clr-background1: #004f77;
    --clr-background2: #00662a;

    --clr-clear: rgb(255, 94, 0);
    --clr-equal: rgb(97, 12, 114);
}

.App {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: var(--background-primary);
    transition: all 0.3s ease;
}
.calculator {
    width: 335px;
    background: linear-gradient(to right, var(--clr-background1), var(--clr-background2));
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background: var(--clr-light-primary);
    color: var(--clr-dark);
}
button:hover {
    background: var(--clr-light-secondary);
}

.calculator .theme-toggle {
    height: 2rem;
    background-color: var(--clr-black);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.calculator .theme-toggle input[type="checkbox"] {
    position: relative;
    width: 30px;
    height: 15px;
    appearance: none;
    background-color: #c5c5c5;
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}
.calculator .theme-toggle input:checked[type="checkbox"] {
    background: #00ff6c;
}
.calculator .theme-toggle input[type="checkbox"]::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.25s;
}
.calculator .theme-toggle input:checked[type="checkbox"]::before {
    left: 15px;
}

.calculator .display-clear {
    display: flex;
}
.calculator .display-clear .display {
    width: calc(3 * 85px);
    text-align: right;
}
.calculator .display-clear .display .prev-result {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2.5rem;
    /* overflow: auto; */
    background-color: var(--clr-light-primary);
    font-size: 1rem;
    padding: 0 0.5rem;
    color: var(--clr-dark-secondary);
}
.calculator .display-clear .display .current-result {
    height: 5rem;
    overflow: auto;
    background-color: var(--clr-light);
    font-size: 1.8rem;
    padding: 0 0.5rem;
    color: var(--clr-dark);
    display: flex;
    flex-wrap: wrap;
}
.calculator .display-clear .clear {
    width: 80px;
    background-color: var(--clr-clear);
    color: var(--clr-white);
}
.calculator .display-clear .clear:hover {
    background-color: var(--clr-clear-hover);
}

.calculator .calc-body {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 60px);
    gap: 5px;
}
.calculator .calc-body .equal {
    background-color: var(--clr-equal);
    color: var(--clr-white);
}
.calculator .calc-body .equal:hover {
    background-color: var(--clr-equal-hover);
}
