.App {
    text-align: center;
}
.calculator {
    width: 335px;
    background: rgb(223, 223, 223);
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background: rgba(255, 255, 255, 0.75);
}
button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.calculator .theme-toggle {
    height: 2rem;
    background-color: black;
    border-radius: 10px 10px 0 0;
}

.calculator .display-clear {
    display: flex;
}
.calculator .display-clear .display {
    width: calc(3 * 85px);
    text-align: right;
}
.calculator .display-clear .display .prev-result {
    height: 2rem;
    background-color: rgb(255, 255, 255, 0.75);
    font-size: 1rem;
    padding: 0 0.5rem;
}
.calculator .display-clear .display .current-result {
    height: 3rem;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 0 0.5rem;
}
.calculator .display-clear .clear {
    width: 80px;
    background-color: rgb(255, 94, 0);
    color: #fff;
}

.calculator .calc-body {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 60px);
    gap: 5px;
}
.calculator .calc-body .equal {
    background-color: rgb(0, 255, 128);
}
